<div class="tabs-container border-bottom bg-white p-2">
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" href="/profile"><i class="fas fa-user-circle me-1"></i> Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="/docs-scan"><i class="fas fa-file-medical me-1"></i> Doc Scan</a></li>
    <li class="nav-item"><a class="nav-link" href="/scan-history"><i class="fas fa-history me-1"></i> Scan History</a></li>
  </ul>
</div>